@import url('https://fonts.googleapis.com/css2?family=Joan&family=Roboto:wght@100;400&display=swap');



html  body {
	font-family: 'Joan', serif;
    font-family: 'Roboto', sans-serif;
	background-color:rgb(174, 140, 174);

}
.navbar {
	background-image: linear-gradient(to left, #c940ff, #dbc1e6);
}

.btn-primary {
	background-image: linear-gradient(to left, #3c6d98, #709414);
}

.footer{
	background-image: linear-gradient(to right, #c940ff, #dbc1e6);
}