<footer class="footer p-3 mt-5">
    <div class="footer-content">
        <ul class="social">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-squart"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
 
            <h2 class="text-center text-light">copyright &copy;{% now "Y" %}</h2>
 
            